<h1> Peaches Math</h1>

<p>
Puntaje = 0
</p>
<p>
<%= @operacion %>

<%= @resultado%>

<form method="post" action="/">
<input type="text" name="respuesta">
<input type="submit" value="jugar">
</form>

<p><%= @rta %></p>

